In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, r2_score
from statsmodels.stats.outliers_influence import variance_inflation_factor

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

## 1. Preprocess the data, remove the attributes which were are not useful to predict rain. Also, remove rows with at least one missing value for each of them.

In [ ]:
#number of missing values
print(df.isnull().sum())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [ ]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [ ]:
#dropping null values
df.dropna(inplace=True)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [ ]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000,56420.000000
mean,13.464770,24.219206,2.130397,5.503135,7.735626,40.877366,15.667228,19.786778,65.874123,49.601985,1017.239505,1014.795580,4.241705,4.326515,18.204961,22.710333
std,6.416689,6.970676,7.014822,3.696282,3.758153,13.335232,8.317005,8.510180,18.513289,20.197040,6.909357,6.870892,2.797162,2.647251,6.567991,6.836543
min,-6.700000,4.100000,0.000000,0.000000,0.000000,9.000000,2.000000,2.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-0.700000,3.700000
25%,8.600000,18.700000,0.000000,2.800000,5.000000,31.000000,9.000000,13.000000,55.000000,35.000000,1012.700000,1010.100000,1.000000,2.000000,13.100000,17.400000
50%,13.200000,23.900000,0.000000,5.000000,8.600000,39.000000,15.000000,19.000000,67.000000,50.000000,1017.200000,1014.700000,5.000000,5.000000,17.800000,22.400000
75%,18.400000,29.700000,0.600000,7.400000,10.700000,48.000000,20.000000,26.000000,79.000000,63.000000,1021.800000,1019.400000,7.000000,7.000000,23.300000,27.900000
max,31.400000,48.100000,206.200000,81.200000,14.500000,124.000000,67.000000,76.000000,100.000000,100.000000,1040.400000,1038.900000,8.000000,9.000000,39.400000,46.100000

In [ ]:
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [ ]:
#dropping date column
df = df.drop('Date', axis=1)

In [ ]:
#splitting into categorical and continous variables

categorical_var = []
continous_var = []

for i in df.columns:
    if df[i].dtype == 'object':
        categorical_var.append(i)
    else:
        continous_var.append(i)

print(categorical_var)
print(continous_var)

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']
['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am', 'Temp3pm']

In [ ]:
#converting categorical values to integers
le = LabelEncoder()

df['Location'] = le.fit_transform(df['Location'])
df['WindDir9am']= le.fit_transform(df['WindDir9am'])
df['WindDir3pm']= le.fit_transform(df['WindDir3pm'])
df['WindGustDir'] = le.fit_transform(df['WindGustDir'])
df['RainToday'] = le.fit_transform(df['RainToday'])
df['RainTomorrow'] = le.fit_transform(df['RainTomorrow'])
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,4,17.9,35.2,0.0,12.0,12.3,11,48.0,1,12,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
6050,4,18.4,28.9,0.0,14.8,13.0,8,37.0,10,10,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
6052,4,19.4,37.6,0.0,10.8,10.6,5,46.0,5,6,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
6053,4,21.9,38.4,0.0,11.4,12.2,14,31.0,14,15,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
6054,4,24.2,41.0,0.0,11.2,8.4,14,35.0,7,14,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0

## Fitting a logistic regression model before removing multicollinearity.

In [ ]:
#splitting into independent and dependent variables
X = df.drop('RainTomorrow', axis=1)
y = df['RainTomorrow']

#train-test-split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#fitting the model
log_regr = LogisticRegression(max_iter=1000)
model = log_regr.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.8559021623537753

## 2. Calculate the Variance Inflation Factor (VIF) value. VIF is a number that determines whether a variable has multicollinearity or not (starts from 1, and it has no upper limit. If the number gets larger, it means the variable has huge multicollinearity on it).

In [ ]:
#finding VIF values
vif = pd.DataFrame()
vif['columns'] = X.columns
vif['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif.sort_values('VIF', ascending=False)

          columns            VIF
14    Pressure9am  490450.519792
15    Pressure3pm  490101.417219
19        Temp3pm     678.167077
2         MaxTemp     614.109282
18        Temp9am     214.054821
12    Humidity9am      61.277019
1         MinTemp      59.475088
13    Humidity3pm      48.309630
7   WindGustSpeed      27.283060
5        Sunshine      17.356926
11   WindSpeed3pm      14.002234
10   WindSpeed9am       8.544751
17       Cloud3pm       8.334943
16       Cloud9am       7.366924
4     Evaporation       7.309955
6     WindGustDir       6.419551
9      WindDir3pm       6.254518
8      WindDir9am       4.684359
0        Location       4.461255
20      RainToday       2.239266
3        Rainfall       1.631810

## 3. Remove multicollinearities by creating new features. Find the features that have paired values and create the new feature which is the difference value between those pairs.

In [ ]:
#creating new features using difference value between feature pairs
df['TempDiff'] = df['Temp3pm'] - df['Temp9am']
df['HumidityDiff'] = df['Humidity3pm'] - df['Humidity9am']
df['WindSpeedDiff'] = df['WindSpeed3pm'] - df['WindSpeed9am']
df['PressureDiff'] = df['Pressure3pm'] - df['Pressure9am']
df['CloudDiff'] = df['Cloud3pm'] - df['Cloud9am']
df['WindDirDiff'] = df['WindDir3pm'] - df['WindDir9am']
df['TempRange'] = df['MaxTemp'] - df['MinTemp']

#dropping the original columns
df.drop(['Temp3pm', 'Temp9am', 'Humidity3pm', 'Humidity9am', 'WindSpeed3pm', 
         'WindSpeed9am', 'Pressure3pm', 'Pressure9am',
         'Cloud3pm', 'Cloud9am', 'WindDir3pm', 'WindDir9am','MaxTemp','MinTemp'], axis=1, inplace=True)

## 4. Remove features that have a VIF value above 5.

In [ ]:
#finding vif of new columns
vif_new = pd.DataFrame()
vif_new['columns'] = df.columns
vif_new['VIF'] = [variance_inflation_factor(df.values, i) for i in range(df.shape[1])]
vif_new.sort_values('VIF', ascending=False)

          columns        VIF
14      TempRange  20.454677
8        TempDiff  14.128196
5   WindGustSpeed   9.562115
3        Sunshine   9.355488
9    HumidityDiff   5.713787
2     Evaporation   4.390020
0        Location   3.813110
4     WindGustDir   3.706747
11   PressureDiff   3.657495
6       RainToday   2.152302
7    RainTomorrow   1.818845
1        Rainfall   1.604924
10  WindSpeedDiff   1.382482
13    WindDirDiff   1.089685
12      CloudDiff   1.079471

In [ ]:
#dropping features with VIF > 5
df.drop(['HumidityDiff', 'WindGustSpeed', 'TempDiff', 'TempRange', 'Sunshine'], axis=1, inplace=True)

#vif of final features
vif_final = pd.DataFrame()
vif_final['columns'] = df.columns
vif_final['VIF'] = [variance_inflation_factor(df.values, i) for i in range(df.shape[1])]
vif_final.sort_values('VIF', ascending=False)

         columns       VIF
0       Location  3.190573
3    WindGustDir  2.897534
2    Evaporation  2.679080
7   PressureDiff  2.162884
4      RainToday  2.008206
1       Rainfall  1.595759
5   RainTomorrow  1.427544
6  WindSpeedDiff  1.261213
9    WindDirDiff  1.046710
8      CloudDiff  1.016344

## 5. Build a regression model to perform the Rain prediction. Also, tabulate accuracy of the prediction models, before and VIF computation.

In [ ]:
X_new = df.drop('RainTomorrow', axis=1)
y_new = df['RainTomorrow']

#splitting the data usinf train test split
X_train_final, X_test_final, y_train_final, y_test_final = train_test_split(X_new, y_new, test_size=0.2, random_state=42)

#building the logistic regression model
log_regr_final = LogisticRegression(max_iter=1000)
model_final = log_regr_final.fit(X_train_final, y_train_final)
y_pred_final = model_final.predict(X_test_final)
accuracy_score(y_test_final, y_pred_final)

0.7927153491669621

### We can clearly see that the accuracy of the model has dropped after removing multicollinearity from the dataset. However, the intepretability and individual contribution of the independent varibales can be explained better.